@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Montserrat:wght@300;600&family=Poppins:wght@200;500&family=Questrial&display=swap");

* {
  color: #fafafa;
  font-family: Questrial;
}
body {
  background: rgb(18, 18, 18);
  margin: 15px;
}
:root {
  --colorWhite: #fafafa;
  --colorBlack: #000000;
  --colorGreen: rgb(177, 241, 67);
  --fontSize-sm: 16px;
}
h3 {
  margin: 0px;
  font-size: 21px;
}
h4 {
  margin-top: 18px;
  margin-bottom: 3px;
  font-size: 15px;
}

p {
  margin: 0px;
  font-size: 13px;
}

/* SignIn Component */
.container {
  margin: 10%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 70px;
}
.container h3 {
  font-size: 31px;
  width: 55%;
  letter-spacing: 3px;
  word-spacing: 1px;
}
h3 span {
  text-decoration: line-through;
}
.form-sign-in input {
  height: 17px;
  width: 100%;
}
.form-input,
.input-titulo,
.input-description {
  border-bottom: 1px solid;
  border-radius: none;
}
.form-input-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#password,
#email {
  width: 87%;
}
img.mostrar {
  border-radius: none;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 23px;
}
/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */
.form {
  display: flex;
  flex-direction: column;
}
.logInButton,
.signUpButton {
  background-color: rgb(253, 64, 26);
  border: none;
  margin-top: 40px;
  padding: 8px;
  border-radius: 14px;
}

/* Home view */

.containerTasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#containerForEachTask {
  background-color: rgb(253, 64, 26);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 13px;
}

/* -----------NEW TASK------------ */
.newTaskButton {
  background-color: rgb(18, 18, 18);
  color: rgb(253, 64, 26);
  border: none;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
}
.newtTaskInput {
  display: flex;
  padding: 14px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
}

input,
textarea {
  height: 17px;
  width: 80vw;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-size: 12px;
  border-radius: none;
  background-color: transparent;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

/* Account View */
