@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Montserrat:wght@300;600;800;900&family=Questrial&display=swap");

* {
  color: #fafafa;
  /* font-family: Questrial; */
}
body {
  background: rgb(18, 18, 18);
  margin: 15px;
  font-family: Questrial;
}
:root {
  --colorWhite: #fafafa;
  --colorBlack: #000000;
  --colorGreen: rgb(253, 64, 26);
  --fontSize-sm: 16px;
}
h3 {
  margin: 0px;
  font-size: 21px;
}
h4 {
  margin-top: 18px;
  margin-bottom: 3px;
  font-size: 15px;
  font-family: Questrial;
}
p {
  margin: 0px;
  font-size: 13px;
}
button {
  color: var(--colorBlack);
}

/* -------------------- SignIn Component --------------------- */
.container {
  margin: 10%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 70px;
}
.container h3 {
  font-size: 31px;
  width: 75%;
  letter-spacing: 3px;
  word-spacing: 1px;
}
h3 span {
  text-decoration: line-through;
}
.form-sign-in input {
  height: 17px;
  width: 100%;
}
.form-input,
.input-titulo,
.input-description {
  border-bottom: 1px solid;
  border-radius: none;
}
.form-input-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#password,
#email {
  width: 87%;
}
img.mostrar {
  border-radius: none;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 23px;
  filter: invert(1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(18, 18, 18) inset;
  -webkit-text-fill-color: white;
}

/* ------------- SignUp Component -----------------------------*/
.form {
  display: flex;
  flex-direction: column;
}
.logInButton,
.signUpButton {
  background-color: rgb(253, 64, 26);
  border: none;
  margin-top: 40px;
  padding: 8px;
  border-radius: 14px;
}
/* ---------------------------- Home view --------------------------*/
.clase1 {
  /*  background-color: rgb(253, 64, 26); */
}
.clase2 {
  text-decoration: line-through;
}
.completed {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid rgb(253, 64, 26);
}
.unCompleted {
  background-color: gray;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.modal {
  border: 2px solid;
  position: fixed;
}
.buttonsInTasks {
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  align-items: center;
}
.taksTitle {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: -4px 6px;
}
.editIcon,
.deleteIcon {
  height: 21px;
  width: 21px;
  filter: invert(1);
}
.containerTasks {
  display: flex;
  flex-direction: row;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}
#containerForEachTask {
  background-color: rgb(253, 64, 26);
  padding: 18px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
  width: 23%;
  height: 121px;
  position: relative;
}
.markAsComplete {
  display: flex;
  flex-direction: row;
}
.dateContainer {
  display: none;
}

/* ----------------------------- NEW TASK -------------------------- */
.newTaskButton {
  background-color: transparent;
  color: rgb(253, 64, 26);
  border: none;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
}
.newtTaskInput {
  display: flex;
  padding: 25px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}
input,
textarea {
  /* height: 17px; */
  width: 80vw;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-size: 15px;
  border-radius: none;
  background-color: transparent;
  margin-top: 8px;
  font-family: Questrial;
}
textarea::-webkit-scrollbar {
  width: 0px;
}
/* Account View */

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Home view */

  .containerTasks {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 16px 0px;
  }
  #containerForEachTask {
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 60px;
    padding: 10px;
    background-color: transparent;
  }
  .markAsCompletebutton {
    display: flex;
    flex-direction: row;
  }
  .markAsComplete {
    width: 55%;
  }
  .dateContainer {
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    font-size: 66px;
    padding-right: 10px;
    font-family: Montserrat;
    font-weight: 800;
    width: 31%;
    align-items: center;
  }
  /* -----------NEW TASK------------ */
  /* ------------ tasks ------------------*/
  .buttonsInTasks {
    flex-direction: column;
    gap: 23px;
    align-items: flex-end;
  }
  .editIcon {
    height: 15px;
    width: 15px;
    /* filter: none; */
  }
  .deleteIcon {
    display: none;
  }
  .unCompleted {
    background-color: rgb(253, 64, 26);
    border-radius: 50%;
    border: none;
  }
  /* Account View */
}
